<template>
  <div>
      <vue-headful title="Error :(" />
      <h1>
          Esa ruta no existe :(
      </h1>
  </div>
</template>

<script>
export default {
name: 'Error'
}
</script>

<style scoped>

</style>