<template>
  <div class="home">
    Home
    <tagscard :tags="tags"/>
  </div>
</template>

<script>
import tagscard from '@/components/TagsCard.vue'
import api from '@/api/index.js'

export default {
  name: 'Home',
  components:{
    tagscard
  },
  data(){
  return {
    tags: []
    }
  },
  created(){
    api.getTopTags().then(response=>(this.tags = response.data.tags.tag))
  }
}
</script>