<template>
  <div class="TopArtists">
    Top Artists
    <artistcard :artists="artists"/>
  </div>
</template>

<script>
import artistcard from '@/components/ArtistCard.vue'
import api from '@/api/index.js'

export default {
  name: 'TopArtist',
    components:{
        artistcard
    },

  data(){
  return {
    artists:[]
    }
  },
  created(){
    api.getArtists().then(response=>(this.artists = response.data.topartists.artist))
  }
}
</script>












































<!--
<template>
  <div class="TopArtists">
     <ul v-for="artist in artists" :key="artist.id">
    <li>
       <img :src="artist.image[2]['#text']" class="imagen">
    </li>
    <li class="arte">
      ARTISTA: {{artist.name}}
    </li>
    <li class="oye">
      SOMOS {{artist.listeners}} OYENTES
    </li>
    <li class='web'>
      VISÍTANOS EN: {{artist.url}}
    </li>
  </ul>
  </div>
</template>

<script>
import TopArtists from '@/views/TopArtists.vue'
import TopTracks from '@/views/TopTracks.vue'
import api from '@/api/index.js'

export default {
  name: 'TopArtists',
  props: {
    TopArtists
  },
  data(){
  return {
    artists: []
    }
  },
  created(){
    api.getArtists().then(response=>(this.artists = response.data.topartists.artist))
  }
}
</script>


<style scoped>
*{
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.arte{
  font-size: 150%;
  color: white;
  font-weight: bold;
}
.imagen{
  border-radius: 50%;
  border-width: 30px;
  border-color: orange;
  border-style: solid;
}
.oye{
  font-size: 100%;
}
.web{
  font-size: 80%
}
</style>

-->