<template>
  <div class="TopTracks">
    Top Tracks
    <trackscard :tracks="tracks"/>
  </div>
</template>

<script>
import trackscard from '@/components/TracksCard.vue'
import api from '@/api/index.js'

export default {
  name: 'TopArtist',
    components:{
        trackscard
    },

  data(){
  return {
    tracks:[]
    }
  },
  created(){
    api.getTracks().then(response => (this.tracks = response.data.tracks.track))
  }
}
</script>