<template>
  <div>
      <ul>
          <li v-for="(cliente, index) in clientes" :key="cliente.id">
            <p>Nombre:
                {{cliente.nombre}}
            </p>
            <p>Usuario:
                {{cliente.usuario}}
            </p>
            <p>Email:
                {{cliente.email}}
            </p>
            <p>Password:
                {{cliente.password}}
            </p>
            <p>
              Fotografia: <br>
              <img :src="cliente.foto">
            </p>
            <button @click="enviarIndiceCliente(index)">
                Borrar
            </button>
              <button @click="enviarDatosCliente(index)">
                  Editar
              </button>
          </li>
      </ul>
  </div>
</template>

<script>
export default {
    name: 'Clientes',
    props:{
        clientes: Array
    },
    methods: {
        enviarDatosCliente(index){
            let datosCliente = this.clientes[index]
            this.$emit('datos', datosCliente)
        },
        enviarIndiceCliente(index){
            let indiceCliente = this.clientes[index].id
            this.$emit('borrar', indiceCliente)
        }
    }
}
</script>

<style scoped>
ul{
    list-style-type: none;
}
p{
    color: yellow
}
li{
    border-color: yellow;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 10px;
    background-color: darkblue;
    background-size: 50%;
    border-radius: 10px;
    margin: 0.5% 30% 0.5% 30%;
}
img{
    width: 300px;
    border-color: yellow;
    border-width: 5px;
    border-radius: 20px;
    border-style: solid;
}
button{
    size: 200px;
    background-color: blue;
    color:yellow;
    margin: 10px;
    font-weight: bold;
}
button:hover{
    width: 100px;
    font-size: 150%;
}
</style>