<template>
  <div>
      <p>
          Manuel Otero Perez, 2020
      </p>
  </div>
</template>

<script>
export default {
    name: 'FooterCustom'
}
</script>

<style scoped>
    p{
        font-size: 0.7rem;
        margin: 2rem;
    }
</style>