<template>
  <div>
      <div id="nav">
        <router-link :to="{name: 'Home'}">Home</router-link> | <!-- router links solo son para dentro del proyecto -->
        <router-link :to="{name: 'About'}">About</router-link> |
        <router-link :to="{name: 'Productos'}">Productos</router-link> |
        <router-link :to="{name: 'Clientes'}">Clientes</router-link> |
        <router-link :to="{name: 'Registrar'}">Registrar</router-link>
    </div>
  </div>
</template>

<script>
import menucustom from '@/components/MenuCustom.vue'
export default {
  name: 'App',
  components: {
    menucustom
  }
}
</script>

<style scoped>
    #nav {
        padding: 30px;
    }
    #nav a {
        font-weight: bold;
        color: #2c3e50;
    }

</style>