<template>
  <div>
      <ul>
          <li v-for="(producto) in productos" :key="producto.id">
            <p>
              <img :src="producto.imagen">
            </p>
            <p>Nombre:
                {{producto.nombre}}
            </p>
            <p>Stock:
                {{producto.stock}}
            </p>
            <p :class="{green: producto.stock >0, red: producto.stock <1}">
                Disponibilidad:
                {{producto.disponibilidad}}
            </p>
            <button @click="reservarProducto()">
                Reservar
            </button>
            <button @click="comprarProducto()">
                Comprar
            </button>
          </li>
      </ul>
  </div>
</template>

<script>
import Swal from 'sweetalert2';

export default {
    name: 'Productos',
    props:{
        productos: Array
    },
    methods: {
        reservarProducto(){
        Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: 'Su producto ha sido reservado',
        showConfirmButton: false,
        timer: 1500
        })
        },
        comprarProducto(){
        Swal.fire({
        title: '¿De verdad quiere comprar este producto?',
        text: "Se le cargará en cuenta",
        icon: 'warning',
        showCancelButton: true,
        cancelButtonText: 'He cambiado de idea',
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, quiero comprarlo'
        }).then((result) => {
        if (result.value) {
        Swal.fire(
        '¡Comprado!',
        'Ha comprado usted un producto fabuloso',
        'success'
    )
  }
})
        }
    }
}
</script>

<style scoped>
div{
    background-color: darkblue;
}
p{
    color:yellow
}
.green{
    color:yellowgreen
}
.red{
    color: red
}
ul{
    margin:0;
    padding: 0;
}
img{
    width: 400px;
}
button{
    width: 150px;
    background-color: blue;
    color:yellow;
    margin: 15px;
    font-weight: bold;
}

.disponible{
    color: green
}

button:hover{
    width: 200px;
    font-size: 150%;
}
</style>