<template>
  <div class="TopArtists">
     <ul v-for="artist in artists" :key="artist.id">
    <li>
       <img :src="artist.image[2]['#text']" class="imagen">
    </li>
    <li class="arte">
      ARTISTA: {{artist.name}}
    </li>
    <li class="oye">
      SOMOS {{artist.listeners}} OYENTES
    </li>
    <li class='web'>
      VISÍTANOS EN: {{artist.url}}
    </li>
  </ul>
  </div>
</template>

<script>
export default {
  name: 'ArtistCard',
  props: {
    artists: Array
  }
}
</script>


<style scoped>
*{
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.arte{
  font-size: 150%;
  color: white;
  font-weight: bold;
}
.imagen{
  border-radius: 50%;
  border-width: 30px;
  border-color: orange;
  border-style: solid;
}
.oye{
  font-size: 100%;
}
.web{
  font-size: 80%
}
</style>