<template>
  <div class="home">
     <ul>
      <li v-for="tag in tags" :key="tag.id" class="all">
        <p class="clase">
          Clase: {{tag.name}}
        </p>
        <p class="donde">
          Escucha música {{tag.name}} en: {{tag.url}}
        </p>
      </li>
  </ul>
  </div>
</template>

<script>
export default {
  name: 'TagsCard',
  props: {
    tags: Array
  }
}
</script>


<style scoped>
*{
  background-color: cadetblue
}
.all{
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
}
.clase{
  font-size: 150%;
  font-weight: bold;
  color: white;
}

</style>