<template>
  <div class="TopTracks">
     <ul v-for="cancion in tracks" :key="cancion.id">
     <li>
      TOP TRACK: {{cancion.name}}
    </li>
  </ul>
  </div>
</template>


<script>
export default {
  name: 'TopTracks',
  props: {
    tracks: Array
  }
}
</script>

<style scoped>
*{
  color: white;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

</style>