<template>
  <div id="app">
    <menucustom :username="name"/>
    <router-view/>
  </div>
</template>

<script>
// 1º : IMPORTA EL COMPONENTE
import menucustom from '@/components/MenuCustom.vue'

export default {
  name: "App",
  // 2º : REGISTRA EL COMPONENTE
  components: {
    menucustom
  }
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  background-color: orange;
}

#nav {
  padding: 30px;
}

#nav a.router-link-exact-active {
  color: blue;
}
</style>
