<template>
  <div class="about">
    <h1 class="hackamusic">Hack a Market</h1>
    <h3>Componentes usados</h3>
    <!--Pendiente de rellenar-->
    <p>By: Manuel Otero Perez</p>
    <p>SweetAlert</p>
    <p>JavaScript</p>
    <p>NodeJs</p>
    <p>HTML</p>
    <p>Axios</p>
    <p>CSS</p>
    <p>Vue</p>
  </div>
</template>

<style scoped>
*{
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  color: yellow
}

</style>