<template>
  <div class="home">
   <h1>Lista de clientes</h1>
    <listaclientes v-on:datos="mostrarInfoCliente" v-on:borrar="borrandoCliente"
    :clientes="clientes"></listaclientes>
  <!--MODAL PARA ACTUALIZAR CLIENTE-->
  <div v-show="seeModal" class="modal">
    <div class="modalBox">
      <h3>
        Actualiza los datos de tu cliente
      </h3>
      <p>
        ID del cliente: {{idCliente}}
      </p>
      <div>
        <input type="text" placeholder="Nombre del cliente" v-model="nombreActualizado">
      </div>
      <div>
        <input type="text" placeholder="Usuario del cliente" v-model="usuarioActualizado">
      </div>
      <div>
        <input type="text" placeholder="Email del cliente" v-model="emailActualizado">
      </div>
      <div>
        <input type="text" placeholder="Contraseña del cliente" v-model="passwordActualizada">
      </div>
      <div>
        <input type="text" placeholder="Fotografia del cliente" v-model="fotografiaActualizada">
      </div>
      <button class="menuActualiza" @click="seeModal =! seeModal">
        Cancelar
      </button>
      <button class="menuActualiza" @click="actualizarCliente()">
        Actualizar cliente
      </button>
    </div>
  </div>

  </div>
</template>

<script>
import axios from 'axios';
import listaclientes from '@/components/Clientes.vue'

export default {
  name: 'Home',
  components: {
    listaclientes
  },
  data(){
    return{
      clientes: [],
      idCliente:'',
      nombreActualizado:'',
      usuarioActualizado:'',
      emailActualizado:'',
      passwordActualizada:'',
      fotografiaActualizada:'',
      seeModal:false
    }
  },
  methods:{
    borrandoCliente(indiceCliente){
      var self = this;
      axios.delete('http://localhost:7000/delete/' + indiceCliente)
      .then(function(response){
        console.log(response)
      })
      .catch(function(error){
        console.log(error)
      })
      location.reload()
    },
    actualizarCliente(){
      var self = this;
      axios.put('http://localhost:7000/update/' + self.idCliente, {
        nombre: self.nombreActualizado,
        usuario: self.usuarioActualizado,
        email: self.emailActualizada,
        password: self.passwordActualizada,
        fotografia: self.fotografiaActualizada
      })
      .then(function(response){
        console.log(response)
      })
      .catch(function(error){
        console.log(error)
      })
      location.reload()
    },
    mostrarInfoCliente(datosCliente){
      this.nombreActualizado = datosCliente.nombre
      this.usuarioActualizado = datosCliente.usuario
      this.emailActualizado = datosCliente.email
      this.passwordActualizada = datosCliente.password,
      this.fotografiaActualizada = datosCliente.fotografia
      this.idCliente = datosCliente.id

      this.seeModal = true
    },
    //FUNCION PARA CONSEGUIR MIS CLIENTES
    getClients(){
      var self = this;
      //LLAMADA DE AXIOS A LA API
      axios.get('http://localhost:7000/clientes')
      .then(function(response){
        self.clientes = response.data
      })
      .catch(function(error){
        console.log(error)
      })
    }
  },
  created(){
    this.getClients()
  }
}
</script>

<style scoped>
  h1{
    background-color: darkblue;
    margin: 0.5% 29.25% 0.5% 31.75%;
    color: yellow;
  }

  .modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
  }
  .modalBox{
    background-color: #fefefe;
    margin: 2% auto;
    padding: 3rem;
    width: 80%;
    border: 1px solid #888;
    border-radius: 10%;
  }
  .menuActualiza{
    width: 150px;
    background-color: blue;
    color:yellow;
    margin: 5px;
    border-radius: 20%;
  }
</style>