<template>
<div>
  <p id="aviso">
      No deberías estar aquí
  </p>
  <img src="https://www.huevadas.net/hacer/memes-y-graficos/uploads/memes/Oct2015/2hgfw.jpg" alt="gatoAsustado"/>
  </div>
</template>

<script>
export default {
    name:'Error'
}
</script>

<style scoped>

img{
    width: 50%;
}
p{
    color: white;
    position: absolute;
    font-size: 300%;
    margin-left: 45%;
}
</style>