<template>
  <div class="home">
   <h1 id="welcome">Bienvenido/a</h1>
   <img src="https://s.libertaddigital.com/2018/07/10/1920/1080/fit/IKEAGOYA_textiles2.jpg" alt="imagen de fondo">
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {

  }
}
</script>

<style scoped>
#welcome{
  color: darkblue;
  opacity: 1;
}
img{
  opacity: 0.8;
}
h1{
  opacity: 1;
  color: black;
  font-size: 100px;
  position: absolute;
  text-align: center;
  margin-top: 20%;
  margin-left: 30%;
}
</style>