<template>
  <div class="home">
   <h1>Lista de productos</h1>
    <listaproductos :productos="productos"></listaproductos>
  </div>
</template>

<script>
import axios from 'axios';
import listaproductos from '@/components/Productos.vue'

export default {
  name: 'Home',
  components: {
    listaproductos
  },
  data(){
    return{
      productos: []
    }
  },
  methods:{
    //FUNCION PARA CONSEGUIR MIS PRODUCTOS
    getProducts(){
      var self = this;
      //LLAMADA DE AXIOS A LA API
      axios.get('http://localhost:7000/productos')
      .then(function(response){
        self.productos = response.data
      })
      .catch(function(error){
        console.log(error)
      })
    }
  },
  created(){
    this.getProducts()
  }
}
</script>

<style scoped>
div{
  background-color: darkblue;
  color: yellow
}
  .modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
  }
  .modalBox{
    background-color: #fefefe;
    margin: 2% auto;
    padding: 3rem;
    width: 80%;
    border: 1px solid #888;
    border-radius: 10%
  }

</style>