<template>
  <div>
      <h1>
          Registrando nuevo cliente
      </h1>
      <p v-show="errorMsg">
          *Tienes campos vacios
      </p>
      <div>
        <input type="text" v-model="nombre" placeholder="Nombre del cliente">
      </div>
      <div>
        <input type="text" v-model="usuario" placeholder="Usuario del cliente">
      </div>
      <div>
        <input type="text" v-model="email" placeholder="Email del cliente">
      </div>
      <div>
        <input type="password" v-model="password" placeholder="Contraseña del cliente">
      </div>
      <div>
        <input type="text" v-model="foto" placeholder="Fotografia (en URL) del cliente">
      </div>
      <button @click="validatingData()">
          Crear cliente
      </button>
  </div>
</template>

<script>
import axios from 'axios';
import Swal from 'sweetalert2';

export default {
    name: 'registrar',
    data(){
        return{
            nombre:'',
            usuario:'',
            email:'',
            password:'',
            foto:'',
            createClient: false,
            errorMsg: false
        }
    },
    methods: {
        validatingData(){
            if(this.nombre === '' || 
                this.usuario==='' ||
                this.email ==='' ||
                this.password === '' ||
                this.foto==='') {
                    this.errorMsg=true
                    this.createClient=false;
            }
            else{
                this.errorMsg = false;
                this.createClient = true;
                this.addNewClient()
            }
        },
        addNewClient(){
            if(this.createClient===true){
                var self = this;
                axios.post('http://localhost:7000/add', {
                nombre: self.nombre,
                usuario: self.usuario,
                email: self.email,
                password: self.password,
                foto: self.foto
            })
            .then(function(response){
                console.log(response)
            }
            )
            .catch(function(error){
                console.log(error)
            })
            Swal.fire({
                 title:'Cliente añadido',
                 onClose:()=>{
                 location.reload
            }
            })
            this.createClient = false;
            this.nombre='',
            this.usuario='',
            this.email='',
            this.password='',
            this.foto=''
            }else{
                console.log('No debería estar aquí')
            }
        }
    }
}
</script>

<style scoped>
h1{
  color: yellow
}
div{
  margin-bottom: 0.25%;
  background-color: darkblue;
}
div{
    margin-bottom: 10px;
    background-color: darkblue;
    background-size: 50%;
    border-radius: 10px;
    margin: 0.5% 30% 0.5% 30%;

}
button{
  width: 150px;
    background-color: blue;
    color:yellow;
    margin: 15px;
    border-radius: 30%;
    font-weight: bold;
}

button:hover{
    width: 200px;
    font-size: 150%;
}
</style>